/* header section */
header{
    padding: 10px;
}
nav{
    align-items: center;
}
/* team section */
.team-container {
    flex-direction: column-reverse;
}
.team-img img {
    width: 100%;
    margin-top: 40px;
}
/* facts card section */
.card {
    padding: 20px;
    margin-left: 10px;
}
.card:hover{
    background-color: skyblue;
    border: 3px solid crimson;
}
/* sponsor section */
.sponsor-img {
    flex-wrap: wrap;
}