/* header section */
header {

    padding: 10px;
}

nav{
    flex-direction: column;
}
/* team section */
.team-container {
   
    flex-direction: column;
}
.team-img img {
    width: 100%;
}

.team-content {
    margin-left: 0px;
    
}

/* facts card */
.facts-card{
    flex-direction: column-reverse;
    
}
.card{
margin-bottom: 10px;
}

/* sponsor section */

.sponsor-img {
    flex-direction: column;
}
.sponsor-img img{
    width: 80%;
}
.sponsor-content {
    max-width: 100%;
}